* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  overflow: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}